<div id='esp-js-devtool-container'>
    <div id="header">
        <div class='handle'></div>
        <a href="https://github.com/esp/esp-js-devtools" target="_blank">ESP devtools</a>
        <input id="closeButton" type="button" name="closeButton" value="X">
    </div>
    <div class="controls">
        <input id="captureEvents" type="checkbox" name="captureEvents" checked><label for="captureEvents">capture events</label>
        <input id="autoscrollCheckbox" type="checkbox" name="autoscroll" checked><label for="autoscrollCheckbox">autoscroll</label>
        <input id="logEventsConsole" type="checkbox" name="logEventsConsole"><label for="logEventsConsole">log events console</label>
        <input id="resetChart" type="button" name="resetChart" value="reset chart">
    </div>
    <div class="eventDetails">
        <p id="eventDetailsDescription"></p>
    </div>
    <div id="chartContainer"></div>
    <div id="footer"></div>
</div>