div#esp-js-devtool-container {
  position: absolute;
  background: white;
  left: 0;
  top: 0;
  z-index: 1000001;
  width: 800px;
  height: auto;
  border: solid 2px #5F5F5F;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;

  * {
    color: #5F5F5F;
  }

  // hide vertical lines and corrosponding dots on the timeline.
  // we could use a 'type' of 'point', however that seems to be styled to allow a label which we don't use
  .vis-line, .vis-dot {
    display: none;
  }


  a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    font-size: 16px;
    color: #e4e7e7;
  }

  #header {
    display: flex;
    background: #5F5F5F;
    padding: 3px 10px 3px 10px;
    flex-direction: row ! important;
    justify-content: space-between ! important;
    align-items: center;
    height: 30px ! important;
  }

  .controls {
    margin-left: 10px;
    input {
      margin-right: 10px;
    }
    #ringBufferSize {
      width: 60px;
    }
  }

  .eventDetails div {
    display: block;
    padding: 10px;
    color: #5F5F5F;

    .event-details-heading {
      font-weight: bold;
    }
  }

  input {
    padding: 3px;
  }
  .handle {
    margin: 5px;
   // float: right;
    display: inline-block;
    border-top: 2px solid #e4e7e7;
    width: 25px;
    padding-top: 2px;
    cursor: -webkit-grab;
    cursor: -moz-grab;
  }
  .closeButton {
    display: block;
    border: solid 1px #5F5F5F;
  }
  .handle:before, .handle:after {
    display: block;
    content: "";
    border-top: 2px solid #e4e7e7;
    padding-top: 2px;
  }
}
