<div class='event-details'>
    <h3>Selected Event Details</h3>
    <table>
        <tr>
            <td class="event-details-heading">Time</td>
            <td><span id="timeRecordedAt"></span></td>
        </tr>
        <tr>
            <td class="event-details-heading">ModelId</td>
            <td><span id="modelId"></span></td>
        </tr>
        <tr>
            <td class="event-details-heading">Event type</td>
            <td><span id="eventType"></span></td>
        </tr>
        <tr>
            <td class="event-details-heading">Error</td>
            <td><span id="error"></span></td>
        </tr>
        <tr>
            <td class="event-details-heading">Event</td>
            <td><span id="event"></span></td>
        </tr>
    </table>
</div>